


        h1{
            color:darkcyan;
        }
        h2{
            color:darkcyan;
        }
        body{
            color:darksalmon;
        }
        body{ 
            background-color:lightpink;
        }
        #date{
            color:aqua;font-style:italic;
        }
        .year{
            color:hotpink;
        }
        .purple{
            color:cornflowerblue;
        }
        .latest{
            color:lightgreen;
        }
        table{
            color:midnightblue;font-style:initial;background-color: bisque;
        }
        .title{
            color:mediumpurple;font-style:unset;
        }
        p{
            color:brown;
        }
        h1 style{
            background-color: antiquewhite;
        }
        h1 style{
            background-color: brown;
        }
        .antiquewhite{
            background-color: antiquewhite;
        }
        .brown{
            background-color: brown;
        }
        .pink{
            background-color: fuchsia;
        }
        .blueviolet{
            background-color: darkviolet;
        }
        .green{
            background-color: greenyellow;
        }
        title{ 
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        .footer {
            background-color: #f0f0f0;
            padding: 10px;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .center{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:50%;
        }
        .table{
            text-align:center;
        }
        .main {
            color:darkgreen;
            font-size: 50px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
        }
        .header {
            font-size: 40px;
            font-family:fantasy;
            color:red;
            text-align: center;
        }
        .header{
            color:red;}
        .header:hover{
            color:skyblue;}

            .navbar-custom .navbar-nav .nav-link {
                color: #ffbb00;
            }
            .navbar-custom {
                background-color: #7c76ac;
            }
           .col {
                width: 25px;
                height: 25px;
            }
            div.row div {
                background-color:aquamarine;
                height: 100px;
                text-align: center;
                border: 1px solid black;
            }
            
            div.spacer {
                height: 10px;
            }
             

    